<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Smile\Seller\Api\Data\SellerInterface" type="Smile\Seller\Model\Seller"/>
    <preference for="Smile\Seller\Api\Data\SellerAttributeInterface" type="Smile\Seller\Model\ResourceModel\Seller\Attribute"/>
    <preference for="Smile\Seller\Api\AttributeRepositoryInterface" type="Smile\Seller\Model\Seller\Attribute\Repository"/>
    <preference for="Smile\Seller\Model\Locator\LocatorInterface" type="Smile\Seller\Model\Locator\RegistryLocator"/>

    <virtualType name="Smile\Seller\Model\Entity\CreationScopeResolver" type="Magento\Framework\Model\Entity\ScopeResolver">
        <arguments>
            <argument name="metadataPool" xsi:type="object">Smile\Seller\EntityCreator\MetadataPool</argument>
        </arguments>
    </virtualType>

    <virtualType name="Smile\Seller\Model\ResourceModel\CreateHandler" type="Magento\Eav\Model\ResourceModel\CreateHandler">
        <arguments>
            <argument name="metadataPool" xsi:type="object">Smile\Seller\EntityCreator\MetadataPool</argument>
            <argument name="scopeResolver" xsi:type="object">Smile\Seller\Model\Entity\CreationScopeResolver</argument>
        </arguments>
    </virtualType>

    <virtualType name="Smile\Seller\Model\ResourceModel\UpdateHandler" type="Magento\Eav\Model\ResourceModel\UpdateHandler">
        <arguments>
            <!-- TODO -->
            <argument name="attributePersistor" xsi:type="object">Smile\Seller\Model\ResourceModel\AttributePersistor</argument>
        </arguments>
    </virtualType>

    <!-- VIRTUALTYPES -->
    <virtualType name="Smile\Seller\SellerImageUpload" type="Magento\Catalog\Model\ImageUploader">
        <arguments>
            <argument name="baseTmpPath" xsi:type="string">seller</argument>
            <argument name="basePath" xsi:type="string">seller</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
                <item name="pdf" xsi:type="string">pdf</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Smile\Seller\Model\SellerMediaUpload">
        <arguments>
            <argument name="imageUploader" xsi:type="object">Smile\Seller\SellerImageUpload</argument>
        </arguments>
    </type>

    <type name="Smile\Retailer\Controller\Adminhtml\Retailer\MediaUpload">
        <arguments>
            <argument name="imageUploader" xsi:type="object">Smile\Seller\SellerImageUpload</argument>
        </arguments>
    </type>

</config>
