<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Smile_Seller" setup_version="2.0.0">
        <sequence>
            <module name="Magento_Eav"/>
            <!-- Mandatory to ensure creation of new Entity types is processed
                 after native Magento ones which are using hardcoded entity_type_id -->
            <module name="Magento_Catalog"/>
            <module name="Magento_Sales"/>
        </sequence>
    </module>
</config>
