<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Smile\Seller\Ui\Component\Seller\Listing\DataProvider">
        <arguments>
            <argument name="addFilterStrategies" xsi:type="array">
                <item name="store_id" xsi:type="object">Smile\Seller\Ui\Component\Seller\Listing\AddStoreFieldToCollection</item>
            </argument>
        </arguments>
    </type>

</config>
