<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <!-- Main menu -->
        <add id="Smile_Seller::sellers"
             title="Sellers"
             module="Smile_Seller"
             sortOrder="35"
             resource="Smile_Seller::sellers"/>
    </menu>
</config>
